


/*--------------------------------GENERAL ------------------------------------- */

/*--------------fonts------------*/

/*TODO: use local font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Quicksand:wght@400;600&display=swap");

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Quicksand', sans-serif;*/

body{
    font-family: "Open Sans Condensed", sans-serif;
    font-size: larger;
}

/*------------colors---------*/
/*https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f*/


:root {
    /* CSS HEX */
    --eggshell: #f4f1deff;
    --terra-cotta: #e07a5fff;
    --independence: #3d405bff;
    --green-sheen: #81b29aff;
    --deep-champagne: #f2cc8fff;
    --saddle-brown: #813405ff;
    --amazon: #537a5aff;
    --blue-munsell: #5497a7ff;

    /*!* CSS HSL *!*/
    /*--eggshell: hsla(52, 50%, 91%, 1);*/
    /*--terra-cotta: hsla(13, 68%, 63%, 1);*/
    /*--independence: hsla(234, 20%, 30%, 1);*/
    /*--green-sheen: hsla(151, 24%, 60%, 1);*/
    /*--deep-champagne: hsla(37, 79%, 75%, 1);*/
    /*--saddle-brown: hsla(23, 93%, 26%, 1);*/
    /*--amazon: hsla(131, 19%, 40%, 1);*/
    /*--blue-munsell: hsla(192, 33%, 49%, 1);*/

    /*!* SCSS HEX *!*/
    /*$eggshell: #f4f1deff;*/
    /*$terra-cotta: #e07a5fff;*/
    /*$independence: #3d405bff;*/
    /*$green-sheen: #81b29aff;*/
    /*$deep-champagne: #f2cc8fff;*/
    /*$saddle-brown: #813405ff;*/
    /*$amazon: #537a5aff;*/
    /*$blue-munsell: #5497a7ff;*/

    /*!* SCSS HSL *!*/
    /*$eggshell: hsla(52, 50%, 91%, 1);*/
    /*$terra-cotta: hsla(13, 68%, 63%, 1);*/
    /*$independence: hsla(234, 20%, 30%, 1);*/
    /*$green-sheen: hsla(151, 24%, 60%, 1);*/
    /*$deep-champagne: hsla(37, 79%, 75%, 1);*/
    /*$saddle-brown: hsla(23, 93%, 26%, 1);*/
    /*$amazon: hsla(131, 19%, 40%, 1);*/
    /*$blue-munsell: hsla(192, 33%, 49%, 1);*/

    /*!* SCSS RGB *!*/
    /*$eggshell: rgba(244, 241, 222, 1);*/
    /*$terra-cotta: rgba(224, 122, 95, 1);*/
    /*$independence: rgba(61, 64, 91, 1);*/
    /*$green-sheen: rgba(129, 178, 154, 1);*/
    /*$deep-champagne: rgba(242, 204, 143, 1);*/
    /*$saddle-brown: rgba(129, 52, 5, 1);*/
    /*$amazon: rgba(83, 122, 90, 1);*/
    /*$blue-munsell: rgba(84, 151, 167, 1);*/

    /*!* SCSS Gradient *!*/
    /*$gradient-top: linear-gradient(0deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-right: linear-gradient(90deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-bottom: linear-gradient(180deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-left: linear-gradient(270deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-top-right: linear-gradient(45deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-bottom-right: linear-gradient(135deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-top-left: linear-gradient(225deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-bottom-left: linear-gradient(315deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
    /*$gradient-radial: radial-gradient(#f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);*/
}

/*----------links--------*/

a {
    text-decoration: none;
}

a:link {
    color: var(--amazon);
}
/* visited link */
a:visited {
    color: var(--amazon);
}
/* mouse over link */
a:hover {
    color: var(--deep-champagne);
}
/* selected link */
a:active {
    color: var(--deep-champagne);
}

/*---------buttons--------------*/

.btn {
    color: white; !important;
    background-color: white !important;
    border-radius: 5px;
}

.btn:link {
    color: white;
}
/* visited link */
.btn:visited {
    color: white;
}
/* mouse over link */
.btn:hover {
    color: darkgrey;
}
/* selected link */
.btn:active {
    color: darkgrey;
}

a.btn:link {
    color: white;
}
/* visited link */
a.btn:visited {
    color: white;
}
/* mouse over link */
a.btn:hover {
    color: darkgrey;
}
/* selected link */
a.btn:active {
    color: darkgrey;
}

.btn-edit {
    background-color: var(--green-sheen) !important;
}

.btn-delete {
    background-color: var(--terra-cotta) !important;
}

.btn-new,
.btn-back,
.btn-send,
.btn-reset,
.btn-cancel {
    background-color: var(--blue-munsell) !important;
}



/*---------------common page-items--------------------*/

ul{
    text-decoration: none !important;
/*    FIXME: Does not render - see /employeetypes*/
}

.page-header{
    font-family: "Quicksand", sans-serif;
    font-size: 3em;
}

.section-header{
    font-size: 1.5em;
    padding-top: 1em;
}

.first-line-top{
    padding-top: 1em;
}

.alert{
    font-size: 2em;
    color: var(--terra-cotta);
    padding-bottom: 1em;
}

/*-----------------table---------------*/

.rr-table{
    border-collapse: collapse;
    border: 1px solid var(--eggshell);
    margin-top: 1em;
    width: 100%;
}

.rr-table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: var(--eggshell);
    font-weight: normal;

}

.rr-table tr:hover {
    background-color: var(--eggshell);
}

.rr-table td {
    text-align: center;
}

.table-cell-center{
    text-align: center;
}





/*-------------iconcolor-------------*/

.bi-check2-circle{
    color: var(--green-sheen);
}

.bi-x-circle{
    color: var(--terra-cotta);
}

.bi-plus-circle{
    color: white;
}


/*----------List----------*/

.list-name{
    font-size:1.5em
}

.list-item{
    background-color: var(--eggshell);
    padding: 1em 0 1em 0;
    margin: 0.5em 0 0.5em 0;
    border-radius: 5px;
}

.list-footer{
    padding-top: 1em;
}


/*-------------------------------------NAVIGATION------------------------------------*/


.menu-text{

}

/*---------------------------------- COMPANY LIST ----------------------------------- */

.company-logo{
    text-align: center;
}



/*--------------------------------------FORM--------------------------------------------*/


.form-inputfield input,
.form-inputfield select {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--blue-munsell);
    margin-bottom: 5px;
}

.form-footer{
    padding-top: 1em;
}

.form-labeltag,
.form-inputfield{
    padding-top: 1em;
}

.form-section{
    border: 1px solid var(--eggshell);
    border-radius: 5px;
    background-color: var(--eggshell);
}
/*-----------------------------------------DETAIL-----------------------------------------------*/

.contact-table{
    border-collapse: separate;
    border-spacing: 15px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/*------------------------------------------FOOTER----------------------------------------------*/

.footer-text{
    font-size: smaller;

}

.footer-content {
    display: flex;
    align-items: center;
}

#footer{
    padding: 2em 0 1em 0;

}

.footer-content,
.footer-text,
.footer-center{
    text-align: center;
}



















/*---------------------------------------SIDEBAR MENU--------------------------------------------*/



@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--amazon);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--eggshell);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--blue-munsell)
}

.nav_logo-name {
    color: var(--blue-munsell);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--amazon);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--deep-champagne)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}