{% extends 'layouts/empty.html' %}
{% load i18n crispy_forms_tags static %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="card-title col-12 text-center">
              <a href="{% url 'common:index' %}">
                <img src="{% static 'img/logo150px.png' %}" alt="Logo">
              </a>
            </div>
          </div>

          <div class="card-text">
            {% crispy form %}
          </div>
          <a href="#" class="btn btn-primary">{% trans 'Login' %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
