{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card"
      ">
      <div class="card-body">
        <h5 class="card-title">{% trans 'Clock in/out' %}</h5>
        <div class="card-text">
          {% crispy form %}
        </div>
        <a href="#" class="btn btn-primary">{% trans 'Save' %}</a>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
