{% load i18n %}
{% if companies %}
  {% for company in companies %}
    <div class="row list-item">
      <div class="col-1 company-logo">
        {% if company.logo %}
          <a href="{% url 'common:company-detail' company.pk %}"
             class="companylist-name">
            {% if company.logo %}
              <img src="/media/{{ company.logo }}" alt="Logo" height="40px">
            {% endif %}

          </a>
        {% endif %}
      </div>
      <div class="col-8">
        <a href="{% url 'common:company-detail' company.pk %}"
           class="list-name">{{ company.name }}</a>
      </div>
      <div class="col-3">
        <a href="{% url 'common:company-update' company.pk %}"
           class="btn btn-sm btn-edit"
           title="{% translate 'Edit company' %}"
        ><i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'common:company-delete' company.pk %}"
           class="btn btn-sm btn-delete"
           title="{% translate 'Delete company' %}"
        ><i class="bi bi-x-square"></i></a>

        {% if company.pk != current_company.pk %}
          <button
              title="{% trans 'Select company as default' %}"
              class="btn btn-sm btn-send"
              hx-post="{% url 'common:company-select' company.id %}"
              hx-target="#company-list-table"
              {#              hx-push-url="true"#}
          >
            <i class="bi bi-house"></i>
          </button>
        {% endif %}
      </div>
    </div>
  {% endfor %}

{% else %}
  <div
      class="display-7">{% translate 'No companies registered yet. Please add your first company:' %} <a href="{% url 'common:company-add' %}"
           class="btn btn-new">{% trans 'New company' %}</a></div>
{% endif %}