{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Company: ' %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="row p-md-4 p-sm-3 rounded-sm page-header">
    <div class="col-md-2 col-sm-3">
      {% if company.logo %}
        <img src="/media/{{ company.logo }}" alt="{{ company.logo }}" height="70px">
      {% endif %}
    </div>
      <div class="col header-text">
      {{ object.name }}
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Company details">
        <a class="btn btn-cancel"
           href="{% url 'common:company-list' %}"
           class="btn btn-cancel">{% trans 'Back' %}</a>

      </div>
      <div class="btn-group" role="group" aria-label="Company details actions">
        <a class="btn btn-edit"
           href="{% url 'common:company-update' object.pk %}"
           class="btn btn-edit">{% trans 'Edit' %}</a>
        <a class="btn btn-delete"
           href="{% url 'common:company-delete' object.pk %}"
           class="btn btn-delete">{% trans 'Delete' %}</a>
        {% if company.id == current_company.id %}
          <button class="btn btn-send disabled">Default</button>
        {% else %}
          <button class="btn btn-send"
                  hx-get="{% url 'common:company-select' object.id %}">{% translate 'Set as default' %}</button>
        {% endif %}
      </div>

    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="section-header">{% trans 'Contact' %}</div>
          <div class="table-responsive">
            <table class="contact-table">
              <tr>
                <td class="label-tag"><img src="{% static 'img/icons/address.png' %}"
                                           alt=""
                                           width="48px"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="{% trans 'Address' %}"></td>
                <td class="label-info">{{ object.address }}; {{ object.zip_code }} {{ object.city }}; {{ object.country.name }}</td>
              </tr>
              {% if object.contact_tel %}
                <tr>
                  <td class="label-tag"><img src="{% static 'img/icons/tel.png' %}"
                                             alt=""
                                             width="48px"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             title="{% trans 'Phone' %}"></td>
                  <td class="label-info"><a
                      href="tel:{{ object.contact_tel }}">{{ object.contact_tel }}</a>
                  </td>
                </tr>
              {% endif %}
              {% if object.contact_fax %}
                <tr>
                  <td class="label-tag"><img src="{% static 'img/icons/printer.png' %}"
                                             alt=""
                                             height="48px"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             title="{% trans 'Fax' %}"></td>
                  <td class="label-info">{{ object.contact_fax }}</td>
                </tr>
              {% endif %}
              {% if object.contact_email %}
                <tr>
                  <td class="label-tag"><img src="{% static 'img/icons/mail.png' %}"
                                             alt=""
                                             width="48px"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             title="{% trans 'E-Mail' %}"></td>
                  <td class="label-info"><a
                      href="mailto:{{ object.contact_email }}">{{ object.contact_email }}</a>
                  </td>
                </tr>
              {% endif %}
              {% if object.website %}
                <tr>
                  <td class="label-tag"><img src="{% static 'img/icons/website.png' %}"
                                             alt=""
                                             width="48px"
                                             data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             title="{% trans 'Website' %}"></td>
                  <td class="label-info"><a
                      href="{{ object.website }}">{{ object.website }}</a></td>
                </tr>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-3">
        <div class="section-header">{% trans 'Departments' %}</div>
      </div>
      <div class="col-6"></div>
      <div class="col-3 div-btn-new">
        <a href="{% url 'common:departments-add' %}"
           class="btn btn-new">{% translate 'New department' %}</a>
      </div>

      <div class="row">
        <div class="col">
          <table class="rr-table table table-striped ">
            {% if company.department.all %}
              <th class="table-heading">{% trans 'Departments' %}</th>
              <th class="table-heading">{% trans 'Active' %}</th>
              {% for department in company.department.all %}
                <tr>
                  <td>
                      <a href="{% url 'common:departments-detail' department.pk%}">{{ department.name }}</a>
                  </td>
                  <td class="table-cell-center">
                    {% if department.active %}
                      <i class="bi bi-check2-circle"></i>
                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              {% trans 'There are currently no departments assigned to ' %}
              {{ object.name }}
            {% endif %}
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 section-header">{% translate 'Employees' %}</div>
      <div class="col-6"></div>
      <div class="col-3 div-btn-new">
        <a href="{# TODO: add employees URLs... {% url 'common:employees-add' %}#}"
           class="btn btn-new">{% translate 'New employee' %}</a>
      </div>
    </div>
    <div class="col">
      <table class="rr-table table table-striped ">
        {% if object.employee_company.all %}
          <th class="table-heading">{% trans 'Employee' %}</th>
          <th class="table-heading">{% trans 'Employee type' %}</th>
          <th class="table-heading">{% trans 'Functions' %}</th>
          <th class="table-heading">{% trans 'Departments' %}</th>


          {% for employee in object.employee_company.all %}
            <tr>
              <td>
                {{ employee.user }}
              </td>
              <td>
                {{ employee.type }}
              </td>
              <td>{% if employee.functions %}

                  {% for function in employee.functions.all %}

                      <a href="">{{ function.name }}</a> <br>


                  {% endfor %}

              {% else %}
                <i class="bi bi-dash-circle-dotted"></i>
              {% endif %}
              </td>
              <td>

                  {% for department in employee.department.all %}
                      <a href="{% url 'common:departments-detail' department.pk%}">{{ department.name }}</a> <br>
                  {% endfor %}

              </td>
            </tr>


          {% endfor %}
        {% else %}
          {% trans 'There are currently no employees assigned to ' %} {{ object.name }}
        {% endif %}
      </table>
    </div>

  </div>





{% endblock %}