{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Company list' %}{% endblock %}

{% block content %}
  <div class="p-md-4 p-sm-3 rounded-sm page-header">
    <span class="header-text">{% trans 'Companies' %}</span>
  </div>
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <a href="{% url 'common:company-add' %}"
           class="btn btn-new">{% trans 'New company' %}</a>
      </div>
    </div>
    <div class="row" id="company-list-table">
      {% include 'common/company_list_table.html' with companies=companies %}
    </div>

    <div class="list-footer">

    </div>

  </div>
{% endblock %}