{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{{ title }}</span>
    </div>
    <div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col section-header">{% trans 'Company' %}</div>

                <div class="row form-section">
                    <div class="row">
                        <div class="col-2 form-labeltag">
                            {{ form.name.label_tag }}
                        </div>
                        <div class="col-3 form-inputfield">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row imageupload">
                        <div class="col-2 form-labeltag">
                            {{ form.logo.label_tag }}
                        </div>
                        <div class="col-3 form-image-upload-field">
                            {{ form.logo }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col section-header">{% trans 'Address' %}</div>
                <div class="row  form-section">

                    <div class="row">
                        <div class="col-2 form-labeltag">
                            {{ form.address.label_tag }}
                        </div>
                        <div class="col-10 form-inputfield">
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 form-labeltag">
                            {{ form.zip_code.label_tag }}
                        </div>
                        <div class="col-3 form-inputfield">
                            {{ form.zip_code }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 form-labeltag">
                            {{ form.city.label_tag }}
                        </div>
                        <div class="col-3 form-inputfield">
                            {{ form.city }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 form-labeltag">
                            {{ form.country.label_tag }}
                        </div>
                        <div class="col-10 form-inputfield countrylist">
                            {{ form.country }}
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                        <div class="col section-header">{% trans 'Contact' %}</div>

                        <div class="row form-section">
                            <div class="col-2 form-labeltag">
                                {{ form.contact_tel.label_tag }}
                            </div>
                            <div class="col-9 form-inputfield">
                                {{ form.contact_tel }}
                            </div>

                            <div class="row">
                                <div class="col-2 form-labeltag">
                                    {{ form.contact_fax.label_tag }}
                                </div>
                                <div class="col-9 form-inputfield">
                                    {{ form.contact_fax }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 form-labeltag">
                                    {{ form.contact_email.label_tag }}
                                </div>
                                <div class="col-9 form-inputfield">
                                    {{ form.contact_email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 form-labeltag">
                                    {{ form.website.label_tag }}
                                </div>
                                <div class="col-9 form-inputfield">
                                    {{ form.website }}
                                </div>
                            </div>
                        </div>
                </div>


                        <div class="form-group form-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-send">{% trans 'Save' %}</button>
                                <button type="reset" class="btn btn-reset">{% trans 'Reset' %}</button>
                                <button type="button" class="btn btn-cancel"><a
                                        href="{% url 'common:company-list' %}"
                                        class="btn btn-cancel">{% trans 'Cancel' %}</a>
                                </button>
                            </div>

                        </div>
        </form>
    </div>

{% endblock %}


