{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete Company' %} {{ object.name }}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Delete Company' %} {{ object.name }}</span>
    </div>

<form method="post">
    {% csrf_token %}

<span class="alert">{% trans 'Are you sure ou want to delete' %} {{ object }}?</span>


<div class="row">
    <div class="col">
         <button type="submit" class="btn btn-delete">{% trans 'YES - I know what I´m doing' %}</button>
  <button type="button" class="btn btn-cancel"><a href="{% url 'common:departments-list' %}" class="btn btn-cancel">{% trans 'NO - Take me back to mama' %}</a></button>

    </div>
</div>


</form>
{% endblock %}