{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Department: ' %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="row p-md-4 p-sm-3 rounded-sm page-header">
    <div class="col header-text">
      {{ object.name }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Department details">
        <a class="btn btn-cancel"
           href="{% url 'common:departments-list' %}"
           class="btn btn-cancel">{% trans 'Back' %}</a>

      </div>
      <div class="btn-group" role="group" aria-label="Department details actions">
        <a class="btn btn-edit"
           href="{% url 'common:departments-update' object.pk %}"
           class="btn btn-edit">{% trans 'Edit' %}</a>
        <a class="btn btn-delete"
           href="{% url 'common:departments-delete' object.pk %}"
           class="btn btn-delete">{% trans 'Delete' %}</a>
      </div>

    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-4 first-line-top">
            <span class="list-name">{% trans 'Part of Company: ' %}</span>
          </div>
          <div class="col-md-4 col-sm-8 list-name first-line-top">
              <a href="{% url 'common:company-detail' object.company.pk %}">{{ object.company.name }}</a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <span class="list-name">{% trans 'Active' %}</span>
            </div>
            <div class="col-md-4 col-sm-8 list-name">
                {% if object.active %}
                    <i class="bi bi-check2-circle"></i>
                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3 section-header">{% translate 'Assigned Employees' %}</div>
      <div class="col-6"></div>
      <div class="col-3 div-btn-new">
        <a href="{# TODO: add employees URLs... {% url 'common:employees-add' %}#}"
           class="btn btn-new">{% translate 'New employee' %}</a>
      </div>
    </div>
    <div class="col">
      <table class="rr-table table table-striped ">
        {% if object.employee_department.all %}
          <th class="table-heading">{% trans 'Employee' %}</th>
          <th class="table-heading">{% trans 'Employee type' %}</th>
          <th class="table-heading">{% trans 'Functions' %}</th>


          {% for employee in object.employee_department.all %}
            <tr>
              <td>
                  <a href="">{{ employee.user }}</a>
              </td>

              <td>
                  {% if employee.type %}
                {{ employee.type }}
                      {% else %}
                      <i class="bi bi-dash-circle-dotted"></i>
                  {% endif %}

              </td>
              <td>
                {% if employee.functions %}
                  {% for function in employee.functions.all %}
{#                      FIXME: The following if-statement is not working - intention: only show functions which are part of the current department.#}
{#                      {% if department.pk is object.pk%}#}
                      <a href="{% url 'common:functions-detail' function.pk %}">{{ function.name }}</a> <br>
{#                        {% endif %}#}
                  {% endfor %}
                {% else %}
                <i class="bi bi-dash-circle-dotted"></i>
              {% endif %}
              </td>

            </tr>


          {% endfor %}
        {% else %}
          {% trans 'There are currently no employees assigned to ' %} {{ object.name }}
        {% endif %}
      </table>
    </div>






{% endblock %}