{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Department list' %}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Departments' %}</span>
    </div>
    <div class="container-fluid">

<div class="row">
    <div class="col">
        <a href="{% url 'common:departments-add' %}"
                   class="btn btn-new">{% trans 'New department' %}</a>
    </div>
</div>

        <div class="row">
        <div class="col">
          <table class="rr-table table table-striped ">
{#            {% if departments %}#}
<th class="table-heading">{% trans 'Active' %}</th>
              <th class="table-heading">{% trans 'Department...' %}</th>
          <th class="table-heading">{% trans '...within company' %}</th>
          <th class="table-heading"></th>
            {% for department in object_list %}
                <tr>
                <td class="table-cell-center">
                    {% if department.active %}
                      <i class="bi bi-check2-circle"></i>
                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                  </td>
                <td>
                    <a href="{% url 'common:departments-detail' department.pk%}" class="list-name">{{ department.name }}</a>
                </td>
                <td>
                    <a href="{% url 'common:company-detail' department.company.pk%}" class="list-name">{{ department.company.name }}</a>
                </td>
                <td>
                    <a href="{% url 'common:departments-update' department.pk%}" class="btn btn-sm btn-edit"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'common:departments-delete' department.pk%}" class="btn btn-sm btn-delete"><i class="bi bi-x-square"></i></a>
                </td>
                </tr>
            {% endfor %}

{#            {% else %}#}
{#                <div class="display-7">{% trans 'Currently there are no departments stored in the database' %}</div>#}
{#            {% endif %}#}
          </table>
        </div>
        </div>

            <div class="list-footer">

            </div>

    </div>
{% endblock %}