{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Employee: ' %}{{ object.user }}{% endblock %}

{% block content %}
    <div class="row p-md-4 p-sm-3 rounded-sm page-header">
        <div class="col header-text">
            {{ object.user }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Employee details">
                <a class="btn btn-cancel"
                   href="{% url 'common:employees-list' %}"
                   class="btn btn-cancel">{% trans 'Back' %}</a>

            </div>
            <div class="btn-group" role="group" aria-label="Department details actions">
                <a class="btn btn-edit"
                   href="{% url 'common:employees-update' object.pk %}"
                   class="btn btn-edit">{% trans 'Edit' %}</a>
                <a class="btn btn-delete"
                   href="{% url 'common:employees-delete' object.pk %}"
                   class="btn btn-delete">{% trans 'Delete' %}</a>
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-4 first-line-top">
                    <span class="list-name">{% trans 'Part of Company: ' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name first-line-top">
                    <a href="{% url 'common:company-detail' object.company.pk %}">{{ object.company.name }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="list-name">{% trans 'Employee-Type' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name">
                    <a href="{% url 'common:employeetypes-detail' object.type.pk %}">{{ object.type.name }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="list-name">{% trans 'Assigned Departments' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name">
                {% if object.department.all %}


                    {% for department in object.department.all %}
                    <a href="{% url 'common:departments-detail' department.pk %}">{{ department.name }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="list-name">{% trans 'Assigned Positions' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name">

                    {% if object.position.all %}
                    {% for position in object.position.all %}
                    <a href="{% url 'common:positions-detail' position.pk %}">{{ position.name }}</a>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="list-name">{% trans 'Assigned Functions' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name">
{% if object.functions.all %}
                    {% for function in object.functions.all %}
                    <a href="{% url 'common:functions-detail' function.pk %}">{{ function.name }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>


        </div>
    </div>








{% endblock %}