{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Employee' %}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Employees' %}</span>
    </div>
    <div class="container-fluid">

<div class="row">
    <div class="col">
        <a href="{% url 'common:employees-add' %}"
                   class="btn btn-new">{% trans 'New employee' %}</a>
    </div>
</div>

        <div class="row">
        <div class="col">
     <table class="rr-table table table-striped ">
          {% if object_list %}

          <th class="table-heading">{% trans 'Name' %}</th>
              <th class="table-heading">{% trans 'Type' %}</th>
          <th class="table-heading">{% trans 'Assigned functions' %}</th>
              <th class="table-heading">{% trans 'Assigned departments' %}</th>
              <th class="table-heading">{% trans 'Assigned positions' %}</th>
          <th></th>
            {% for employee in object_list %}
                <tr>
                <td class="table-cell-center">
                    <a href="{% url 'common:employees-detail' user.pk %}"  class="list-name">{{ employee.user }}</a>
                  </td>
                <td class="table-cell-center">
                    <a href="{% url 'common:employeetypes-detail' employee.type.pk %}"  class="list-name">{{ employee.type }}</a>
                  </td>
                <td>
                    {% if employee.functions %}
                      {% for function in employee.functions.all %}
                        <a href="{% url 'common:functions-detail' function.pk %}" class="list-name">{{ function.name }}</a> <br>
                      {% endfor %}

                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                     </td>
                <td>
                    {% if employee.department %}
                      {% for department in employee.department.all %}
                        <a href="{% url 'common:departments-detail' department.pk %}" class="list-name">{{ department.name }}</a> <br>
                      {% endfor %}

                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                     </td>
                <td>
                    {% if employee.position %}
                      {% for position in employee.position.all %}
                        <a href="{% url 'common:positions-detail' position.pk %}" class="list-name">{{ position.name }}</a> <br>
                      {% endfor %}

                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                     </td>
                <td>

                </td>
{#                <td>#}
{#                    <a href="{% url 'common:functiongroups-detail' function.group.pk %}" class="list-name">{{ function.group }}</a>#}
{#                </td>#}
{#                <td>#}
{#                    <a href="{% url 'common:departments-detail' function.department.pk %}" class="list-name">{{ function.department }}</a>#}
{#                </td>#}
{#                <td>#}
{#                    <a href="{% url 'common:functions-update' function.pk%}" class="btn btn-sm btn-edit"><i class="bi bi-pencil-square"></i></a>#}
{#                        <a href="{% url 'common:functions-delete' function.pk%}" class="btn btn-sm btn-delete"><i class="bi bi-x-square"></i></a>#}
{#                </td>#}
                </tr>
            {% endfor %}

       {% else %}
            <div class="display-7">{% trans 'Currently there are no employees stored in the database' %}</div>
           {% endif %}
          </table>
        </div>
        </div>

            <div class="list-footer">

            </div>

    </div>
{% endblock %}