{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Employee-Type: ' %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="row p-md-4 p-sm-3 rounded-sm page-header">
    <div class="col header-text">
      {{ object.name }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Department details">
        <a class="btn btn-cancel"
           href="{% url 'common:employeetypes-list' %}"
           class="btn btn-cancel">{% trans 'Back' %}</a>

      </div>
      <div class="btn-group" role="group" aria-label="Department details actions">
        <a class="btn btn-edit"
           href="{% url 'common:employeetypes-update' object.pk %}"
           class="btn btn-edit">{% trans 'Edit' %}</a>
        <a class="btn btn-delete"
           href="{% url 'common:employeetypes-delete' object.pk %}"
           class="btn btn-delete">{% trans 'Delete' %}</a>
      </div>

    </div>

    <div class="container-fluid">


    <div class="row">
      <div class="col-5 section-header">{% translate 'Assigned Employees' %}</div>
      <div class="col-4"></div>
      <div class="col-3 div-btn-new">
        <a href="{# TODO: add employees URLs... {% url 'common:employees-add' %}#}"
           class="btn btn-new">{% translate 'New employee' %}</a>
      </div>
    </div>
    <div class="col">
      <table class="rr-table table table-striped ">
        {% if object.employee_type.all %}
          <th class="table-heading">{% trans 'Employee' %}</th>
          <th class="table-heading">{% trans 'Functions' %}</th>


          {% for employee in object.employee_type.all %}
            <tr>
              <td>
                  <a href="">{{ employee.user }}</a>
              </td>
              <td>
                {% if employee.functions %}
                  {% for function in employee.functions.all %}
                      <a href="{% url 'common:functions-detail' function.pk %}">{{ function.name }}</a> <br>
                  {% endfor %}
                {% else %}
                <i class="bi bi-dash-circle-dotted"></i>
              {% endif %}
              </td>

            </tr>


          {% endfor %}
        {% else %}
          {% trans 'There are currently no employees assigned to ' %} {{ object.name }}
        {% endif %}
      </table>
    </div>






{% endblock %}