{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{{ title }}</span>
    </div>
    <div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="row form-section">
                <div class="row">
                    <div class="col-2 form-labeltag">
                        {{ form.name.label_tag }}
                    </div>
                    <div class="col-3 form-inputfield">
                        {{ form.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 form-labeltag">
                        {{ form.short_name.label_tag }}
                    </div>
                    <div class="col-3 form-inputfield">
                        {{ form.short_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 form-labeltag">
                        {{ form.funtiongroup.label_tag }}
                    </div>
                    <div class="col-3 form-inputfield">
                        {{ form.functiongroup }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 form-labeltag">
                        {{ form.department.label_tag }}
                    </div>
                    <div class="col-3 form-inputfield">
                        {{ form.department }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 form-labeltag">
                        {{ form.active.label_tag }}
                    </div>
                    <div class="col-3 form-inputfield">
                        {{ form.active }}
                    </div>
                </div>


            </div>



                        <div class="form-group form-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-send">{% trans 'Save' %}</button>
                                <button type="reset" class="btn btn-reset">{% trans 'Reset' %}</button>
                                <button type="button" class="btn btn-cancel"><a href="{% url 'common:functions-list' %}"
                                                                                class="btn btn-cancel">{% trans 'Cancel' %}</a>
                                </button>
                            </div>

                        </div>
        </form>
    </div>

{% endblock %}


