{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Functiongroup: ' %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="row p-md-4 p-sm-3 rounded-sm page-header">
    <div class="col header-text">
      {{ object.name }}
        {% if object.short_name %}
       (<i>{{ object.short_name }}</i>)
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Functiongroup details">
        <a class="btn btn-cancel"
           href="{% url 'common:functiongroups-list' %}"
           class="btn btn-cancel">{% trans 'Back' %}</a>

      </div>
      <div class="btn-group" role="group" aria-label="Department details actions">
        <a class="btn btn-edit"
           href="{% url 'common:functiongroups-update' object.pk %}"
           class="btn btn-edit">{% trans 'Edit' %}</a>
        <a class="btn btn-delete"
           href="{% url 'common:functiongroups-delete' object.pk %}"
           class="btn btn-delete">{% trans 'Delete' %}</a>
      </div>
    </div>
    </div>



    <div class="row">
      <div class="col-3 section-header">{% translate 'Assigned Functions' %}</div>
      <div class="col-6"></div>
      <div class="col-3 div-btn-new">
        <a href="{% url 'common:functions-add' %}"
           class="btn btn-new">{% translate 'New function' %}</a>
      </div>
    </div>


    <div class="col">
      <table class="rr-table table table-striped ">
        {% if object.function_set.all %}
            <th class="table-heading">{% trans 'Function' %}</th>
            <th class="table-heading">{% trans 'Active' %}</th>

          <th class="table-heading">{% trans 'Employees' %}</th>
          <th class="table-heading">{% trans 'Department' %}</th>



          {% for function in object.function_set.all %}
            <tr>
<td>
                <a href="{% url 'common:functions-detail' function.pk %}">{{ function.name }}</a>
            </td>
                <td class="table-cell-center">
                    {% if function.active %}
                      <i class="bi bi-check2-circle"></i>
                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                  </td>


              <td>
              {% if function.employee_function.all %}
                  {% for employee in function.employee_function.all %}
                      <a href="">{{ employee.user }} <br></a>
                  {% endfor %}
              {% else %}
                <i class="bi bi-dash-circle-dotted"></i>
              {% endif %}
              </td>

              <td>
                <a href="">{{ function.department }}</a> <br>
            {% endfor%}

              </td>

            </tr>

        {% else %}
          {% trans 'There are currently no functions assigned to ' %} {{ object.name }}
        {% endif %}
      </table>
    </div>









{% endblock %}