{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Function: ' %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="row p-md-4 p-sm-3 rounded-sm page-header">
        <div class="col header-text">
            {{ object.name }}
            {% if object.short_name %}
                (<i>{{ object.short_name }}</i>)
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Function details">
                <a class="btn btn-cancel"
                   href="{% url 'common:functions-list' %}"
                   class="btn btn-cancel">{% trans 'Back' %}</a>

            </div>
            <div class="btn-group" role="group" aria-label="Department details actions">
                <a class="btn btn-edit"
                   href="{% url 'common:functions-update' object.pk %}"
                   class="btn btn-edit">{% trans 'Edit' %}</a>
                <a class="btn btn-delete"
                   href="{% url 'common:functions-delete' object.pk %}"
                   class="btn btn-delete">{% trans 'Delete' %}</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-4 first-line-top">
                    <span class="list-name">{% trans 'Part of Functiongroup: ' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name first-line-top">
                    <a href="{% url 'common:functiongroups-detail' object.group.pk %}">{{ object.group.name }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="list-name">{% trans 'Assigned departments: ' %}</span>
                </div>
                {% if object.department %}
                    <div class="col-md-4 col-sm-8 list-name">
                            <a href="{% url 'common:departments-detail' object.department.pk %}">{{ object.department.name }}</a> <br>
                    </div>

                {% else %}
                    <div class="col-md-4 col-sm-8 list-name">
                    <span class=""><i>{% trans 'No assigned department' %}</i></span>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="list-name">{% trans 'Active' %}</span>
                </div>
                <div class="col-md-4 col-sm-8 list-name">
                    {% if object.active %}
                        <i class="bi bi-check2-circle"></i>
                    {% else %}
                        <i class="bi bi-x-circle"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-3 section-header">{% translate 'Assigned Employees' %}</div>
        <div class="col-6"></div>
        <div class="col-3 div-btn-new">
            <a href="{# TODO: add employees URLs... {% url 'common:employees-add' %}#}"
               class="btn btn-new">{% translate 'New employee' %}</a>
        </div>
    </div>
    <div class="col">
        <table class="rr-table table table-striped ">
            {% if object.employee_function.all %}
                <th class="table-heading">{% trans 'Employee' %}</th>
                <th class="table-heading">{% trans 'Employee type' %}</th>

                {% for employee in object.employee_function.all %}
                    <tr>
                        <td>
                            {{ employee.user }}
                        </td>
                        <td>
                            {% if employee.type %}
                                {{ employee.type }}
                            {% else %}
                                <i class="bi bi-dash-circle-dotted"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% trans 'There are currently no employees assigned to ' %} {{ object.name }}
            {% endif %}
        </table>
    </div>









{% endblock %}