{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Functions' %}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Functions' %}</span>
    </div>
    <div class="container-fluid">

<div class="row">
    <div class="col">
        <a href="{% url 'common:functions-add' %}"
                   class="btn btn-new">{% trans 'New function' %}</a>
    </div>
</div>

        <div class="row">
        <div class="col">
          <table class="rr-table table table-striped ">
{#            {% if object_list %}#}
<th class="table-heading">{% trans 'Active' %}</th>
          <th class="table-heading">{% trans 'Function' %}</th>
          <th class="table-heading">{% trans 'Short Name' %}</th>
              <th class="table-heading">{% trans 'Functiongroup' %}</th>
          <th class="table-heading">{% trans 'Department' %}</th>
          <th></th>
            {% for function in object_list %}
                <tr>
                <td class="table-cell-center">
                    {% if function.active %}
                      <i class="bi bi-check2-circle"></i>
                    {% else %}
                      <i class="bi bi-x-circle"></i>
                    {% endif %}
                  </td>
                <td>
                    <a href="{% url 'common:functions-detail' function.pk %}" class="list-name">{{ function.name }}</a>
                </td>
                <td>
                    <span class="list-name">{{ function.short_name }}</span>
                </td>
                <td>
                    <a href="{% url 'common:functiongroups-detail' function.group.pk %}" class="list-name">{{ function.group }}</a>
                </td>
                <td>
                    <a href="{% url 'common:departments-detail' function.department.pk %}" class="list-name">{{ function.department }}</a>
                </td>
                <td>
                    <a href="{% url 'common:functions-update' function.pk%}" class="btn btn-sm btn-edit"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'common:functions-delete' function.pk%}" class="btn btn-sm btn-delete"><i class="bi bi-x-square"></i></a>
                </td>
                </tr>
            {% endfor %}

{#            {% else %}#}
{#                <div class="display-7">{% trans 'Currently there are no functiongroups stored in the database' %}</div>#}
{#            {% endif %}#}
          </table>
        </div>
        </div>

            <div class="list-footer">

            </div>

    </div>
{% endblock %}