{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Function Group list' %}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Function Groups' %}</span>
    </div>
    <div class="container-fluid">

<div class="row">
    <div class="col">
        <a href="{% url 'common:functiongroups-add' %}"
                   class="btn btn-new">{% trans 'New function-group' %}</a>
    </div>
</div>

        <div class="row">
        <div class="col">
          <table class="rr-table table table-striped ">
{#            {% if object_list %}#}
              <th class="table-heading">{% trans 'Functiongroup' %}</th>
          <th class="table-heading">{% trans 'Short Name' %}</th>
          <th></th>
            {% for functiongroup in object_list %}
                <tr>
                <td>
                    <a href="{% url 'common:functiongroups-detail' functiongroup.pk %}" class="list-name">{{ functiongroup.name }}</a>
                </td>
                <td>
                    {{ functiongroup.short_name }}
                </td>
                <td>
                    <a href="{% url 'common:functiongroups-update' functiongroup.pk%}" class="btn btn-sm btn-edit"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'common:functiongroups-delete' functiongroup.pk%}" class="btn btn-sm btn-delete"><i class="bi bi-x-square"></i></a>
                </td>
                </tr>
            {% endfor %}

{#            {% else %}#}
{#                <div class="display-7">{% trans 'Currently there are no functiongroups stored in the database' %}</div>#}
{#            {% endif %}#}
          </table>
        </div>
        </div>

            <div class="list-footer">

            </div>

    </div>
{% endblock %}