{% extends 'layouts/base.html' %}

{% block title %}Ratrace{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm">
        <h2 class="display-4">Index</h2>
    </div>




{% endblock %}