{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Positions list' %}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Positions' %}</span>
    </div>
    <div class="container-fluid">

<div class="row">
    <div class="col">
        <a href="{% url 'common:positions-add' %}"
                   class="btn btn-new">{% trans 'New position' %}</a>
    </div>
</div>

        <div class="row">
        <div class="col">
          <table class="rr-table table table-striped ">
{#            {% if object_list %}#}
              <th class="table-heading">{% trans 'Position' %}</th>
          <th class="table-heading">{% trans '...within department' %}</th>
          <th class="table-heading">{% trans 'assigned employees' %}</th>
          <th></th>
            {% for position in object_list %}
                <tr>
                <td>
                    <a href="{% url 'common:positions-detail' position.pk%}" class="list-name">{{ position.name }}</a>
                </td>
                <td>
                    {{ position.department }}
                </td>
                    <td>
{#                    TODO: Not working#}
                        {% if position.employee_position %}
{#                            {% for employee in position.employee_position %}#}
                            {{ employee.user }}
{#                            {% endfor %}#}
                            {% else %}
                            <i class="bi bi-x-circle"></i>

                        {% endif %}
                </td>
                <td>
                    <a href="{% url 'common:positions-update' position.pk%}" class="btn btn-sm btn-edit"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'common:positions-delete' position.pk%}" class="btn btn-sm btn-delete"><i class="bi bi-x-square"></i></a>
                </td>
                </tr>
            {% endfor %}

{#            {% else %}#}
{#                <div class="display-7">{% trans 'Currently there are no positions stored in the database' %}</div>#}
{#            {% endif %}#}
          </table>
        </div>
        </div>

            <div class="list-footer">

            </div>

    </div>
{% endblock %}