{% extends 'layouts/base.html' %}
{% load static i18n %}


{% block title %}{% trans 'Settings' %}{% endblock %}

{% block content %}
    <div class="p-md-4 p-sm-3 rounded-sm page-header">
        <span class="header-text">{% trans 'Settings' %}
    </div>
    <div class="container-fluid">


        <div class="row">
            <div class="row section-header">
                {% trans 'Company' %}
            </div>
            <div class="row  list-item">

                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:company-list' %}">Companies</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:company-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:departments-list' %}">Departments</a></span>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:departments-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:positions-list' %}">Positions</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:positions-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>

        </div>
            </div>


        <div class="row">
            <div class="row section-header">
                {% trans 'Function' %}
            </div>
            <div class="row  list-item">

                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:functiongroups-list' %}">Function-Groups</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:functiongroups-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:functions-list' %}">Functions</a></span>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:functions-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>

        </div>
            </div>



        <div class="row">
            <div class="row section-header">
                {% trans 'Employee' %}
            </div>
            <div class="row  list-item">
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:employeetypes-list' %}">Employee-Types</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:employeetypes-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="{% url 'common:employees-list' %}">Employees</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href="{% url 'common:employees-add' %}"><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
            </div>
            </div>



        <div class="row">
            <div class="row section-header">
                {% trans 'Core Working Time' %}
            </div>
            <div class="row  list-item">
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="">Core Working Times</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href=""><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="">Core Working Time Blocks</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href=""><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
            </div>
            </div>



        <div class="row">
            <div class="row section-header">
                {% trans 'Vacation' %}
            </div>
            <div class="row  list-item">
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="">Vacation Types</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href=""><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="">Vacation balances</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href=""><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <span class="list-name"><a href="">Vacations</a></span>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-new"><a href=""><i class="bi bi-plus-circle"></i></a></button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>





{% endblock %}