{% load static i18n %}


<header class="header" id="header">
  <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
</header>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="{% url 'common:index' %}" class="nav_logo">
        {# FIXME: use a 24px native icon instead of downsampling it. #}
        <img src="{% static 'img/logo150px.png' %}" style="width:28px" alt="">
        <span class="nav_logo-name">RatRace</span>
      </a>
      <div class="nav_list">
        <a href="#" class="nav_link active">
          <i class='bi bi-grid nav_icon'></i>
          <span class="nav_name">{% translate 'Dashboard' %}</span>
        </a>
        <a href="{% url 'common:company-list' %}" class="nav_link">
          <i class='bi bi-building nav_icon'></i>
          <span class="nav_name">{% translate 'Companies' %}</span>
        </a>
{% comment %}        <a href="{% url 'common:departments-list' %}" class="nav_link">
          <i class='bi bi-diagram-3 nav_icon'></i>
          <span class="nav_name">{% translate 'Departments' %}</span>
        </a>{% endcomment %}
        <a href="#" class="nav_link">
          <i class='bi bi-people nav_icon'></i>
          <span class="nav_name">{% translate 'Employees' %}</span>
        </a>
        <a href="{% url 'common:settings' %}" class="nav_link">
          <i class='bi bi-gear nav_icon'></i>
          <span class="nav_name">{% translate 'Settings' %}</span>
        </a>
      </div>
    </div>
    {#        {% if logged_out %}#}
    <a href="#" class="nav_link"><i class='bi bi-door-open'></i><span class="nav_name">Login</span></a>
    {#        {% else %}#}
    {#        <a href="#" class="nav_link"> <i class='bi bi-box-arrow-left nav_icon'></i> <span class="nav_name">Logout</span> </a>#}
    {#        {% endif %}#}
  </nav>
</div>

{#<nav class="navbar navbar-expand-lg navbar-light">#}
{#  <div class="container-fluid">#}
{#    <a class="navbar-brand" href="{% url 'common:index' %}">#}
{#      <img src="{% static 'img/logo150px.png' %}" alt="Logo" width="60px">#}
{#    </a>#}
{#    <ul class="nav nav-tabs">#}
{#      <li class="nav-item menu-text">#}
{#        {% if current_company %}#}
{#          <div class="dropdown">#}
{#            <button class="btn btn-send dropdown-toggle" type="button"#}
{#                    id="dropdownCompanySelect" data-bs-toggle="dropdown"#}
{#                    aria-expanded="false">#}
{#              {{ current_company }}#}
{#            </button>#}
{#            <ul class="dropdown-menu" aria-labelledby="dropdownCompanySelect">#}
{#              {% for company in companies %}#}
{#                <li>#}
{#                   FIXME: changing companies here still does not work. #}
{#                  <button#}
{#                      class="dropdown-item"#}
{#                      hx-post="{% url 'common:company-select' company.id %}"#}
{#                      hx-target="body"#}
{#                  >#}
{#                    {{ company }}#}
{#                  </button>#}
{#                </li>#}
{#              {% endfor %}#}
{#            </ul>#}
{#          </div>#}
{#        {% else %}#}
{#          <a class="nav-link"#}
{#             aria-current="page"#}
{#             href="{% url 'common:company-list' %}"#}
{#             hx-push-url="true"#}
{#          >{% translate 'Select Company' %}</a>#}
{#        {% endif %}#}
{#      </li>#}
{##}
{#    </ul>#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"#}
{#            data-bs-target="#navbar-common" aria-controls="navbar-common"#}
{#            aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbar-common">#}
{#      <ul class="nav nav-tabs">#}
{#        <li class="nav-item menu-text">#}
{#          <a class="nav-link {% if '/departments' in request.path %}active{% endif %}"#}
{#             aria-current="page" href="{% url 'common:departments-list' %}">{% trans ' Departments' %}</a>#}
{#        </li>#}
{#        <li class="nav-item menu-text">#}
{#          <a class="nav-link {% if '/employeetypes' in request.path %}active{% endif %}"#}
{#             aria-current="page" href="#">{% trans ' Employee-Types' %}</a>#}
{#        </li>#}
{#        <li class="nav-item menu-text">#}
{#          <a class="nav-link {% if '/employees' in request.path %}active{% endif %}"#}
{#             aria-current="page" href="#">{% trans ' Employees' %}</a>#}
{#        </li>#}
{#        <li class="nav-item menu-text">#}
{#          <a class="nav-link {% if '/workingtimes' in request.path %}active{% endif %}"#}
{#             aria-current="page" href="#">{% trans ' Shifts' %}</a>#}
{#        </li>#}
{#        <li class="nav-item menu-text">#}
{#          <a class="nav-link{% if 'login' in request.path %} active{% endif %}"#}
{#             aria-current="page" href="{% url 'common:login' %}"><i#}
{#              class="bi bi-door-open"></i> Login</a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}