/* Coolors Exported Palette - https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f-813405-537a5a-5497a7 */

/* CSS HEX */
--eggshell: #f4f1deff;
--terra-cotta: #e07a5fff;
--independence: #3d405bff;
--green-sheen: #81b29aff;
--deep-champagne: #f2cc8fff;
--saddle-brown: #813405ff;
--amazon: #537a5aff;
--blue-munsell: #5497a7ff;

/* CSS HSL */
--eggshell: hsla(52, 50%, 91%, 1);
--terra-cotta: hsla(13, 68%, 63%, 1);
--independence: hsla(234, 20%, 30%, 1);
--green-sheen: hsla(151, 24%, 60%, 1);
--deep-champagne: hsla(37, 79%, 75%, 1);
--saddle-brown: hsla(23, 93%, 26%, 1);
--amazon: hsla(131, 19%, 40%, 1);
--blue-munsell: hsla(192, 33%, 49%, 1);

/* SCSS HEX */
$eggshell: #f4f1deff;
$terra-cotta: #e07a5fff;
$independence: #3d405bff;
$green-sheen: #81b29aff;
$deep-champagne: #f2cc8fff;
$saddle-brown: #813405ff;
$amazon: #537a5aff;
$blue-munsell: #5497a7ff;

/* SCSS HSL */
$eggshell: hsla(52, 50%, 91%, 1);
$terra-cotta: hsla(13, 68%, 63%, 1);
$independence: hsla(234, 20%, 30%, 1);
$green-sheen: hsla(151, 24%, 60%, 1);
$deep-champagne: hsla(37, 79%, 75%, 1);
$saddle-brown: hsla(23, 93%, 26%, 1);
$amazon: hsla(131, 19%, 40%, 1);
$blue-munsell: hsla(192, 33%, 49%, 1);

/* SCSS RGB */
$eggshell: rgba(244, 241, 222, 1);
$terra-cotta: rgba(224, 122, 95, 1);
$independence: rgba(61, 64, 91, 1);
$green-sheen: rgba(129, 178, 154, 1);
$deep-champagne: rgba(242, 204, 143, 1);
$saddle-brown: rgba(129, 52, 5, 1);
$amazon: rgba(83, 122, 90, 1);
$blue-munsell: rgba(84, 151, 167, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-right: linear-gradient(90deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-bottom: linear-gradient(180deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-left: linear-gradient(270deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-top-right: linear-gradient(45deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-bottom-right: linear-gradient(135deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-top-left: linear-gradient(225deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-bottom-left: linear-gradient(315deg, #f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);
$gradient-radial: radial-gradient(#f4f1deff, #e07a5fff, #3d405bff, #81b29aff, #f2cc8fff, #813405ff, #537a5aff, #5497a7ff);