{% extends 'layouts/html.html' %}
{% load i18n %}
{% load static %}

{% block body %}
  {# sidebar? menu? #}


<div id="wrapper">
    <div id="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12">

                    {% include "layouts/includes/navigation.html" %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-left-circle"></i></a>
                {% endif %}
                <span class="page-current">
                    Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-right-circle"></i></a>
                {% endif %}
            </span>
                </div>
            {% endif %}
        {% endblock %}

    </div>
</div>
  <div id="footer">
    <div id="footer-content">
      <div class="row d-flex justify-content-center">
        <div class="col footer-center">
          <span class="footer-text">&copy; Copright <a href="http://www.nerdocs.at">nerdocs</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col footer-center">
          <a href="#" class="footer-text">{% trans "Impressum" %}</a>
        |
        <a href="#" class="footer-text">{% trans "About us" %}</a>
        |
        <a href="#" class="footer-text">{% trans "Contact" %}</a>
            </div>
        </div>


    </div>
</div>
{% endblock %}