{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <title>RatRace -
    {% block title %}

    {% endblock %}
  </title>


  {#  TODO: use bootstrap locally #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  {#    <link rel="stylesheet" href="{% static 'css/bootstrap5.3.1' %}">#}
<link rel="stylesheet" href="{% static '/css/main.css' %}">
  {% include 'includes/favicon.html' %}
<body id="body-pd" class="d-flex flex-column h-100">
{% block body %}

{% endblock %}
{#<script#}
{#    src="{% static 'js/bootstrap5.3.1' %}"></script>#}
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<script src="https://unpkg.com/htmx.org@1.6.0"></script>
<script src="{% static 'js/togglermenu.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
</body>
</html>